html, body {
  background-color: #F5F5F5;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Source Code Pro', monospace;
  /* -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

header {
  background-color: #F5F5F5;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.topic {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #F5F5F5;
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  top: 25px;
  margin: 0;
  padding: 15px 0;
}

ul {
  padding-inline-start: 0px;
}

li {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  margin: 0 auto;
}

li p {
  width: 40%;
  margin: 0px 45px;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: pre-wrap;
}

.description {
  width: 20%;
}

.input {
  background-color: #EBEBEB;
}

.input::before {
  content: "In:\00a0\00a0";
  margin-left: -36px;
  color: #0F37FF;
}

.output {
  background-color: #FFFFFF;
}

.output::before {
  content: "Out:\00a0\00a0";
  margin-left: -43px;
  color: #F03030;
}

@media all and (max-width: 1024px) {
  li {
    display: block;
    width: 80%;
    min-width: 350px;
    max-width: 450px;
  }

  li p {
    width: inherit;
    border-radius: 0px;
    margin: 5px 45px;
  }

  .description {
    margin: 0px;
    width: inherit;
  }
}
