html, body {
  background-color: #F5F5F5;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Source Code Pro', monospace;
  /* -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

header {
  background-color: #F5F5F5;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.topic {
  font-weight: 700;
  text-transform: uppercase;
  background-color: #F5F5F5;
  position: -webkit-sticky; /* Required for Safari */
  position: sticky;
  top: 25px;
  margin: 0;
  padding: 15px 0;
}

ul {
  padding-inline-start: 0px;
}

li {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin: 0 auto;
  padding: 10px 0px;
}

.description {
  width: 150px;
  padding: 1em 0.5em;
}

.code-block {
  display: flex;
  flex-direction: row;
  width: 500px;
}

p[class*="-head"] {
  width: fit-content;
  margin: 0px;
  padding: 1em 0.5em;
}

p[class*="-code"] {
  width: inherit;
  margin: 0px;
}

pre[class*="language-"] {
  background: none !important;
  margin: 0px !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	background: none !important;
}

.input-head {
  color: #0F37FF;
}

.input-code {
  background-color: #EBEBEB;
}

.output-head {
  color: #F03030;
}

.output-code {
  background-color: #FFFFFF;
}

@media all and (max-width: 1200px) {
  li {
    flex-direction: column;
    width: fit-content;
  }
  
  .code-block {
    margin: 0.5em 0em;
  }

  .description {
    width: inherit;
  }
}
